body {
    font-size: 100%;
}

.bg-body {
    background-image: url("../images/piana-piwna.jpg");
    /* no-repeat center center fixed; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    /* -o-background-size: cover; */
    background-size: cover;
}

.game-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    max-width: 100%;
    max-height: 100%;
}

.container-game-board {
    height: 100%;
    padding-bottom: 100%;
}

@media only screen and (max-width: 768px) {
    .game-container {
        width: 98%;
        height: 60%;
    
    }

   
}

/* Game-navbar */

.game-bar {
    display: flex;
    width: 100%;
    background-color: black;
    flex-direction: row;
}

.score-container{
    display: flex;
    width: 25%;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3%;

}
.score{
    color: #eee;
    margin: 3%;
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    padding-top: 1%;

}

.counter{
    color: #eee;
    margin: 3%;
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    padding-top: 1%;


  
}

/* timer */

.timer-container {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 50%;

}

.timer-display {
    color: #eee;
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    margin: 2%;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: center;
}

.timer-element{
    width: 30%;
    height: 30%;
    margin: 8%;
}


.fa-play-circle {
    background-color: #ecd06c;
    padding: 15%;
    border-radius: 5px;
    color: #333;
}

.fa-power-off {
    background-color: #ecd06c;
    padding: 15%;
    border-radius: 5px;
}

.fa-play-circle,
.fa-pause-circle{
    background-color: #ecd06c;
    padding: 15%;
    border-radius: 5px;
    color: #333;
}

.fa-play-circle:hover {
    background-color: rgb(240, 68, 68);
}

.fa-power-off:hover {
    background-color: rgb(240, 68, 68);
}

/* life-icon */

.life-container{
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: flex-end;
    padding: 3%;
    

}

.life-icon{
    color: #b30000;
    width: 20%;
    height: 20%;
    margin: 3%;

}
.life-icon-lost{
    color: #b3000080;
    width: 20%;
    height: 20%;
    margin: 3%;

}

.game-board {
    height: 90%;
    width: 100%;
    position: fixed;
    background-color: rgb(37, 143, 10);
    border: solid 1px gray;
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.game-element {
    width: 5%;
    height: 5%;
}

.wall {

    background-color: black;

}

.food {
    color: #fed136;

}

.enemy {
    color: rgba(124, 65, 65, 0.966);
    position: absolute;
    transition: 0.3s;
}

.gamer {
    position: absolute;
    transition: 0.3s;
    color: rgb(243, 197, 141);
    
}

/* game-end modal */

.modal{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.end-game-modal{
    background-color: #212529;
    margin: 1% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
    
}
.end-game-body{
    margin: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

.kraft-man{
    color: #fed136;
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.dead-kraft-man{
    color: #fed136;
    width: 20%;
    

}

.main-game-over-container{
    display: flex;
    justify-content: center;
}
@keyframes example {
    0%   {color:#eee;}
    25%  {color:#fed136; }
    50%  {color:#eee; }
    75%  {color:#fed136; }
    100% {color:#eee;}
  }
 .game-over{
    color: #eee;
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
 }
.poo-container{
    display: flex;
    justify-content: flex-end;
}
 .happy-poo{
    color: rgba(124, 65, 65, 0.966);
    width: 20%;
    /* height: 20%; */
 }


 .end-game-footer{
     display: flex;
     justify-content: center;
     flex-direction: column;

 }
 .end-game-footer-score{
     display: flex;
     width: 100%;
     justify-content: center;
     color: #eee;
     font-family: 'Luckiest Guy', cursive;
 }
 .score-info{
     display: flex;
     flex-direction: row;
     margin: 2%;
     padding-top: 1%;
     width: 20%;
     justify-content: flex-end;
     
 }

 .score-info-element{
    margin: 3%;
    font-size: 20px;
 }
 
 .beer-icon-points{
    color: #fed136;
    width: 6%;
    margin: 1%;
 }
 .game-buttons-container{
     display: flex;
     justify-content: center;
     margin: 2%;
 }
 .end-game-buttons{
     width: 60%;
     display: flex;
     justify-content: space-between;
 }

 .end-game-btn{
     background-color: #35383bb2;
     color: #fed136;
     border-color: #fed136;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
     width: 35%;
     text-align: center;

 }

 .end-game-btn:hover{
     cursor: pointer;
     font-family: 'Montserrat', sans-serif;
     background-color: #fed136;
     color: #212529;
     font-weight: bold;
 }

 .end-game-btn a{
     color: #fed136;
 }
 .end-game-btn:hover a:hover{
    background-color: #fed136;
    color: #212529;
 }