#features{
    padding-top: 100px;
    padding-bottom: 20px;
}

.features-unit h4{
    height: 60px;
}

.container-carousel {
    padding: 0;
    height: 65vh;
}

.container-carousel .carousel-inner {
     height: 65vh;
     margin-top: 30px;
}

@media only screen and (max-width: 992px) {
    .container-carousel .carousel-inner{
        margin-top: 86px;
    }
}

@media only screen and (min-width: 992px) {
    .team-member p {
        height: 250px;
    }

    .features-unit p {
        height: 100px;
    }

    .p-height{
        height: 120px;
    }
}

.title-carousel {
    font-size: 56px;
}

.carousel-caption {
    background-color: rgba(0,0,0, 0.5);
    right: unset;
    left: unset;
    min-width: 100%;
}

#app {
    height:380px;
    padding-top: 80px;
    padding-bottom: 20px;
    margin: 20px 0px;
}

.btn-app {
    color: black;
    width: 150px;
    margin: 20px;
}

.container-fluid.container-app {
    display: flex;
    justify-content: center;
    padding: 0px;
    color: black;
    margin: 5px 0px;
}

#sign {
    height: 250px;
    padding: 1px 0px;
    margin: 20px 0px;
}

.btn-sign {
    color: black;
}

.container-fluid.container-sign {
    display: flex;
    justify-content: center;
    padding: 0px;
    color: black;
    margin: 5px 0px;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vh;
}

.signup-title {
    font-size: 32px;
}

.signup-desc {
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
}

.social-button {
    padding: 20px;
    margin-top: 20px;
}

.dark-bg-color{
    background-color: #212529;
}

.white-text {
    color: white;
}

.team-member h4 {
    height: 60px;
}

.link-background {
    padding: 10px;
    background-color: #212529;
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
  }

body{
    position: relative;
}
