#features{
    padding-top: 100px;
    padding-bottom: 20px;
}

.features-unit h4{
    height: 60px;
}

.features-unit{
    padding-left: 15px;
    padding-right: 15px;
}

.container-carousel {
    padding: 0;
    height: 65vh;
}

.container-carousel .carousel-inner {
     height: 65vh;
     margin-top: 30px;
}

@media only screen and (max-width: 992px) {
    .container-carousel .carousel-inner{
        margin-top: 86px;
    }
}

@media only screen and (min-width: 992px) {
    /* .team-member p {
        height: 250px;
    } */


    .p-height{
        height: 120px;
    }
}

.title-carousel {
    font-size: 56px;
}

.carousel-caption {
    background-color: rgba(0,0,0, 0.5);
    right: unset;
    left: unset;
    min-width: 100%;
}

#app {
    padding-top: 80px;
    padding-bottom: 20px;
    margin: 20px 0px;
}

.btn-app {
    color: black;
    width: 150px;
    margin-top: auto;

}

.container-fluid.container-app {
    display: flex;
    justify-content: center;
    padding: 0px;
    color: black;
    margin: 5px 0px;
    height: 320px;
}

.checkbox-area{
    padding: 20px 0 0;
    margin: 10px 0 0;
}

#sign {
    height: 250px;
    padding: 1px 0px;
    margin: 20px 0px;
}

.btn-sign {
    color: black;
}

.container-fluid.container-sign {
    display: flex;
    justify-content: center;
    padding: 0px;
    color: black;
    margin: 5px 0px;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vh;
}

.input-form h6{
    padding-bottom: 5px;
}

.input-form .form-group{
    margin-top: 10px;
}

.signup-title {
    font-size: 32px;
}

.signup-desc {
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
}

.social-button {
    padding: 20px;
    margin-top: 20px;
}

.dark-bg-color{
    background-color: #212529;
}

.white-text {
    color: white;
}

.team-member h4 {
    height: 60px;
}

.link-background {
    padding: 10px;
    background-color: #212529;
    border-radius: 10px;
}

.link-background:hover {
    background-color: #fed136;
    color: #212529;
    transition: all 500ms;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
  }

body{
    position: relative;
}


.score-table th, .score-table td{
    border: 1px solid #dee2e6;
    padding: .2rem;

}

/*-----//-----*/
/* Team photos flipping, settings below */

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 225px;
    height: 225px;
    line-height: 225px;
    margin: auto;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden panel */
.back {
	transform: rotateY(180deg);
}
/* -----//----- */

.modal-1{
    /* display: none; */
    /* position: fixed;  */
    /* z-index: 1;  */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.start-game-modal{
    background-color: #212529;
    margin: 25% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
    
}
.start-game-body{
    margin: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

 .game-over{
    color: #eee;
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
 }

 .start-game-main{
     display: flex;
     justify-content: center;
     flex-direction: column;

 }
 .start-game-input{
     display: flex;
     width: 100%;
     justify-content: center;
     color: #eee;
     font-family: 'Luckiest Guy', cursive;
 }
 /* .score-info{
     display: flex;
     flex-direction: column;
     margin: 2%;
     padding-top: 1%;
     width: 20%; 
     justify-content: flex-end;   
  } */

 .player-class{
    margin: 5%;
 }
 
 .game-buttons-container{
     display: flex;
     justify-content: center;
     margin: 2%;
 }
 .start-game-buttons{
     width: 60%;
     display: flex;
     justify-content: center;
 }

 .start-game-btn{
     background-color: #35383bb2;
     color: #fed136;
     border-color: #fed136;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
     width: 35%;
     text-align: center;
     padding: 0px;
 }
.nav-btn{
    display: block;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

 .start-game-btn:hover{
     cursor: pointer;
     font-family: 'Montserrat', sans-serif;
     background-color: #fed136;
     color: #212529;
     font-weight: bold;
 }

 .start-game-btn a{
     color: #fed136;
 }
 .start-game-btn:hover a:hover{
    background-color: #fed136;
    color: #212529;
 }
